kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: standard-resize
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp2
  fsType: ext4
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true